@font-face {
    font-family: abc;
    src: url('./../../fonts/Stick/Stick-Regular.ttf');
}

@font-face {
    font-family: def;
    src: local('AkayaTelivigala-Regular'), url('./../../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf') format('woff');
}

.clickme{
    text-decoration: none;
}

/* pseudoclass */
.clickme:hover{
    text-decoration: underline;
    font-size: 30px;
}

.clickme:visited{
    color: red;
}

.menutext{
    font-family: Arial;
    background-color: green;
    text-decoration: none;
    color: #fff;

    /* padding: 10px 20px; */
    /* padding: 10px 20px 30px 40px; */

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-radius: 10px;

    transition: background-color 2s, color 5s;
}

.menutext:hover{
    background-color: orange;
    color: #000;
}

.imgdesign{
    width: 80px;
    height: 80px;
    cursor: pointer;

    transition: all 1s;
}

.imgdesign:hover{
    width: 100px;
    height: 100px;
}