/* Font Integrate */
/* (i) Local Machine Integration
   (ii) Global Integration or Project Folder Integration */

/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap'); */
@import url('./l17addfile.css');

*{
   cursor: pointer;
}

.p2 {
   color: red !important;
   font-size: 50px;
}

/* (i) Local Machine Integration */

/* body{
   font-family: Arial;
}

.p1{
   font-family: Arial;
}

.p2{
   font-family: "Time New Roman";
}

.p3{
   font-family: Century, Arial, "Time New Roman";
}

body{
   font-family: Stick, sans-serif ;
} */

.p1,.p4{
   font-family: abc, sans-serif;
}

.p2{
   color: violet !important;
   font-size: 30px !important;
}

.p3{
   font-family: def;
   color: blue;
}