@import 'https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-background-color: #be3144;
    --form-background-color: #255F85;
    --main-button-color: rgb(90, 248, 62);
    --edit-color: rgb(23, 36, 220);
}
/* body background color */
body{
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/* navbar at the top */
nav {
    width: 100%;
    height: 100px;
    background-color: var(--main-background-color);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/* pagename at the top left */
.page-name{
    font-size: 35px;
    color: #fff;
}
@media screen and (max-width: 576px){
    nav{
        height: 70px;
    }
    .page-name {
        font-size: 26px;
    }
}
/* log in log out button at the top right */
#button{
    width: 100px;
    height: 50px;
    font-size: 1.3rem;
    background-color: var(--main-button-color);
}
#button:hover {
    background-color: rgb(4, 210, 17);
}
@media screen and (max-width: 576px){
    #button{
        width: 75px;
        height: 25px;
        font-size: 1.2rem;
    }
}
/* log in form, post edit and add forms*/
form {
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    display: none;
    width: 300px;
    margin: 150px auto 0;
    background-color: var(--form-background-color);
    padding: 2rem 0 1rem;
    color: #fff;
    position: relative;
    border-radius: 10px;
}
@media screen and (max-width: 320px){
    form{
        width: 90%;
    }
}
label, input, textarea{
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 8px;
}
input,textarea{
    padding: 0.625rem;
    margin-bottom: 1rem;
    background-color: var(--main-background-color);
    color: #fff;
}
::placeholder{
    color: #fff;
}
input[type="submit"]{
    border: none;
    border-radius: 5px;
    background-color: var(--main-button-color);
    box-shadow: 0 0 1px 1px rgb(214, 97, 122);
    color: #000;
    font-weight: 700;
    margin-top: 1.5rem;
}
input[type="submit"]:hover{
    background-color: rgb(4, 210, 17);
}
input:focus,textarea:focus{
    outline: none;
}
#login-only{
    font-size: 17px;
    text-align: center;
    margin-bottom: 1rem;
}
a{
    display: block;
    font-size: 17px;
    color: #fff;
    text-align: center;
}
#register-form{
    display: block;
}
#register-form p{
    display: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
/* posts */
/* for the whole div container */
.posts{
    width: 90%;
    margin: 130px auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    gap: 30px;
    box-shadow: unset;
}
/* for 20-post single div containers */
.single-post{
    font-family: 'Poppins', sans-serif;
    width: 30%;
    background-color: blueviolet;
    padding: 20px 0;
    break-inside: avoid;
    border-radius: 5px;
    color: rgb(240, 240, 240);
    box-shadow: 0 0 3px 1px white;
}
@media screen and (max-width: 760px){
    .posts{
        justify-content: space-between;
    }
    .single-post{
        width: 45%;
    }
}
@media screen and (max-width: 576px){
    .posts{
        margin: 100px auto 30px;
    }
    .single-post{
        width: 100%;
        padding: 10px 0;
    }
}
/* for post infos and image */
.single-post span,p,img{
    margin-bottom: 0.5rem;
}
span{
    display: flex;
    justify-content: space-between;
}
span, .content{
    padding: 0px 10px;
}
.content{
    height: 94px;
    overflow: hidden;
}
@media screen and (max-width: 576px){
    .single-post span{
        margin-bottom: 0;
    }
}
p.user{
    font-weight: 600;
    font-size: 20px;
}
.posts img{
    display: block;
    margin: 1rem auto;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 700px){
    .posts img{
        width: 100%;
        height: auto;
    }
}
/* for the button which will show details of the post */
.modify{
    display: block;
    width: 95%;
    background-color: var(--main-button-color);
    font-weight: 700;
    margin: auto;
    padding: 0.8rem;
}
.modify:hover{
    background-color: rgb(4, 210, 17);
}

/* for displaying post details */
div.details{
    display: none;
    width: 95%;
    margin: 130px auto;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 3px 1px white;
}
.details div{
    box-shadow: unset;
}
.details img{
    object-fit: contain;
    width: 50%;
    height: auto;
}
.details i{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
div.details-words{
    padding: 50px 0.625rem 5px;
}
div.details-words>p{
    display: inline-block;
    width: 100%;
}
.details i:focus{
    scale: 1.04;
}
.header{
    font-size: 24px;
    box-shadow: unset;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.header p{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--form-background-color);
    border-radius: 5px;
}
.details h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.9rem;
}
.details>div>p{
    color: lightgreen;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    padding: 0 0.625rem 0.5rem;
    font-size: 20px;
    word-break: break-all;
}
/* for edit,delete and add buttons container div */
.crud{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 320px){
    .crud{
        justify-content: start;
        flex-direction: column;
    }
}
.details button{
    font-size: 18px;
    padding: 7px;
    margin: 5px;
}
/* for edit button only */
.edit{
    background-color: var(--edit-color);
    color: white;
    flex-grow: 1;
}
.edit:hover{
    background-color: rgb(0, 0, 200);
}
/* for delete button only */
.delete{
    background-color: rgb(188, 5, 41);
    color: white;
    flex-grow: 1;
}
.delete:hover{
    background-color: rgb(150, 1, 18);
}
/* for add button only */
button.add-new{
    background-color: goldenrod;
    color: white;
    flex-grow: 1;
}
button.add-new:hover{
    background-color: rgb(174,132,27);
}
/* for button which will return towards posts */
button.back{
    width: 97%;
    margin-bottom: 10px;
    background-color: var(--main-button-color);
}
@media screen and (max-width: 750px){
    div.details{
        flex-direction: column;
        border-radius: 10px;
    }
    .details img{
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
    .header{
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
}
@media screen and (max-width: 576px){
    .details p{
        font-size: 14px;
    }
    .header{
        margin-top: -2rem;
        margin-bottom: 0;
    }
    .header>p{
        font-size: 16px;
    }
    .details h2{
        font-size: 26px;
    }
    .details button{
        font-size: 16px;
    }
}
/* for post edit or add form button */
.edit-form-button{
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.625rem;
    background-color: var(--main-button-color);
}
/* for edit button in the edit-form only */
#editdata{
    background-color: var(--edit-color);
    color: #fff;
}
#editdata:hover{
    background-color: rgb(10, 10, 220);
}
/* to give a good shape in all forms and div containers */
div,form{
    box-shadow: 0 0 5px 1px #000;
}
/* to remove border of all buttons */
button{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(89, 87, 81);
}
i{
    font-size: 16px;
}
i:hover{
    scale: 1.04;
}
#arrow-left{
    position: absolute;
    top: 2rem;
    right: 3rem;
}
#x{
    position: absolute;
    top: 2rem;
    right: 1rem;
}
@media (max-width: 576px){
    i{
        font-size: 10px;
    }
    #arrow-left{
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
    }
    #x{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }
}
/* add or edit form in small screensize */
@media screen and (max-width: 576px){
    form{
        margin: 100px auto 0;
    }
    .form{
        padding: 1rem 0 0.5rem;
    }
    .form input,.form button{
        font-size: 14px;
    }
    .form label{
        font-size: 16px;
    }
}